<% provide(:title, 'Contact') %>
<h1>Contact</h1>
	<p>
  		<div class="hero-unit">
  			<h3>Contact: </h3></br>
  			Google: kleberst88@gmail.com </br>
  			<%= link_to image_tag("github.png",alt: "Github"), 'https://github.com/krebaum'%>
  			<%= link_to image_tag("twitter.png",alt: "Twitter"), 'https://twitter.com/kr3baum'%>
  		</div>

	</p>
	