<footer class="footer">
  <small>
    Rola Blog
    by <a href="https://github.com/krebaum">Kleber Tavares</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://meoapp.com.br/">News</a></li>
    </ul>
  </nav>
</footer>